<%- include('partials/header.ejs'); -%>

<h1>Sefa Tuter</h1>
<h2 id="h2title">Books I've Read</h2>

<div class="container">
  <br />

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
      <div class="col-md-2 offset-md-3">
        <figure>
          <a href=""
            ><img
              src="https://covers.openlibrary.org/b/olid/<%= imgs[0] %>-M.jpg"
              width="125"
              height="187"
              alt="Book Cover"
              loading="lazy"
          /></a>
        </figure>
      </div>
      <div class="col-md-7 offset-md-3 mt-4">
        <h2>
          <a href="" class="montserrat">Çalıkuşu - by Reşat Nuri Güntekin</a>
        </h2>
        <p class="montserrat">
          Everything is negotiable. Challenge authority. You have the power in
          any situation. This is how to realize it and use it. A must-read
          classic from 1980 from a master negotiator. My notes here aren’t
          enough because the little book is filled with so many memorable
          stories — examples of great day-to-day moments of negotiation that
          will stick in your head for when you need them. (I especially loved
          the one about the power of the prisoner in solitary confinement.) So
          go buy and read the book. I’m giving it a 10/10 rating even though the
          second half of the book loses steam, because the first half is so
          crucial.
        </p>
        <small
          >Date read: 2023-08-02. How strongly I recommend it:
          <strong>10</strong>/10</small
        >
        <p>
          <strong><a href="">Read my notes</a></strong>
        </p>
    </div>
  </div>

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
      <div class="col-md-2 offset-md-3">
        <figure>
          <a href=""
            ><img
              src="https://covers.openlibrary.org/b/olid/<%= imgs[1] %>-M.jpg"
              width="125"
              height="187"
              alt="Book Cover"
              loading="lazy"
          /></a>
        </figure>
      </div>
      <div class="col-md-7 offset-md-3 mt-4">
        <h2>
          <a href="" class="montserrat">Çalıkuşu - by Reşat Nuri Güntekin</a>
        </h2>
        <p class="montserrat">
          Everything is negotiable. Challenge authority. You have the power in
          any situation. This is how to realize it and use it. A must-read
          classic from 1980 from a master negotiator. My notes here aren’t
          enough because the little book is filled with so many memorable
          stories — examples of great day-to-day moments of negotiation that
          will stick in your head for when you need them. (I especially loved
          the one about the power of the prisoner in solitary confinement.) So
          go buy and read the book. I’m giving it a 10/10 rating even though the
          second half of the book loses steam, because the first half is so
          crucial.
        </p>
        <small
          >Date read: 2023-08-02. How strongly I recommend it:
          <strong>10</strong>/10</small
        >
        <p>
          <strong><a href="">Read my notes</a></strong>
        </p>
    </div>
  </div>

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
      <div class="col-md-2 offset-md-3">
        <figure>
          <a href=""
            ><img
              src="https://covers.openlibrary.org/b/olid/<%= imgs[2] %>-M.jpg"
              width="125"
              height="187"
              alt="Book Cover"
              loading="lazy"
          /></a>
        </figure>
      </div>
      <div class="col-md-7 offset-md-3 mt-4">
        <h2>
          <a href="" class="montserrat">Çalıkuşu - by Reşat Nuri Güntekin</a>
        </h2>
        <p class="montserrat">
          Everything is negotiable. Challenge authority. You have the power in
          any situation. This is how to realize it and use it. A must-read
          classic from 1980 from a master negotiator. My notes here aren’t
          enough because the little book is filled with so many memorable
          stories — examples of great day-to-day moments of negotiation that
          will stick in your head for when you need them. (I especially loved
          the one about the power of the prisoner in solitary confinement.) So
          go buy and read the book. I’m giving it a 10/10 rating even though the
          second half of the book loses steam, because the first half is so
          crucial.
        </p>
        <small
          >Date read: 2023-08-02. How strongly I recommend it:
          <strong>10</strong>/10</small
        >
        <p>
          <strong><a href="">Read my notes</a></strong>
        </p>
    </div>
  </div>

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
      <div class="col-md-2 offset-md-3">
        <figure>
          <a href=""
            ><img
              src="https://covers.openlibrary.org/b/olid/<%= imgs[3] %>-M.jpg"
              width="125"
              height="187"
              alt="Book Cover"
              loading="lazy"
          /></a>
        </figure>
      </div>
      <div class="col-md-7 offset-md-3 mt-4">
        <h2>
          <a href="" class="montserrat">Çalıkuşu - by Reşat Nuri Güntekin</a>
        </h2>
        <p class="montserrat">
          Everything is negotiable. Challenge authority. You have the power in
          any situation. This is how to realize it and use it. A must-read
          classic from 1980 from a master negotiator. My notes here aren’t
          enough because the little book is filled with so many memorable
          stories — examples of great day-to-day moments of negotiation that
          will stick in your head for when you need them. (I especially loved
          the one about the power of the prisoner in solitary confinement.) So
          go buy and read the book. I’m giving it a 10/10 rating even though the
          second half of the book loses steam, because the first half is so
          crucial.
        </p>
        <small
          >Date read: 2023-08-02. How strongly I recommend it:
          <strong>10</strong>/10</small
        >
        <p>
          <strong><a href="">Read my notes</a></strong>
        </p>
    </div>
  </div>

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
      <div class="col-md-2 offset-md-3">
        <figure>
          <a href=""
            ><img
              src="https://covers.openlibrary.org/b/olid/<%= imgs[4] %>-M.jpg"
              width="125"
              height="187"
              alt="Book Cover"
              loading="lazy"
          /></a>
        </figure>
      </div>
      <div class="col-md-7 offset-md-3 mt-4">
        <h2>
          <a href="" class="montserrat">Çalıkuşu - by Reşat Nuri Güntekin</a>
        </h2>
        <p class="montserrat">
          Everything is negotiable. Challenge authority. You have the power in
          any situation. This is how to realize it and use it. A must-read
          classic from 1980 from a master negotiator. My notes here aren’t
          enough because the little book is filled with so many memorable
          stories — examples of great day-to-day moments of negotiation that
          will stick in your head for when you need them. (I especially loved
          the one about the power of the prisoner in solitary confinement.) So
          go buy and read the book. I’m giving it a 10/10 rating even though the
          second half of the book loses steam, because the first half is so
          crucial.
        </p>
        <small
          >Date read: 2023-08-02. How strongly I recommend it:
          <strong>10</strong>/10</small
        >
        <p>
          <strong><a href="">Read my notes</a></strong>
        </p>
    </div>
  </div>

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
      <div class="col-md-2 offset-md-3">
        <figure>
          <a href=""
            ><img
              src="https://covers.openlibrary.org/b/olid/<%= imgs[5] %>-M.jpg"
              width="125"
              height="187"
              alt="Book Cover"
              loading="lazy"
          /></a>
        </figure>
      </div>
      <div class="col-md-7 offset-md-3 mt-4">
        <h2>
          <a href="" class="montserrat">Çalıkuşu - by Reşat Nuri Güntekin</a>
        </h2>
        <p class="montserrat">
          Everything is negotiable. Challenge authority. You have the power in
          any situation. This is how to realize it and use it. A must-read
          classic from 1980 from a master negotiator. My notes here aren’t
          enough because the little book is filled with so many memorable
          stories — examples of great day-to-day moments of negotiation that
          will stick in your head for when you need them. (I especially loved
          the one about the power of the prisoner in solitary confinement.) So
          go buy and read the book. I’m giving it a 10/10 rating even though the
          second half of the book loses steam, because the first half is so
          crucial.
        </p>
        <small
          >Date read: 2023-08-02. How strongly I recommend it:
          <strong>10</strong>/10</small
        >
        <p>
          <strong><a href="">Read my notes</a></strong>
        </p>
    </div>
  </div>

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
      <div class="col-md-2 offset-md-3">
        <figure>
          <a href=""
            ><img
              src="https://covers.openlibrary.org/b/olid/<%= imgs[6] %>-M.jpg"
              width="125"
              height="187"
              alt="Book Cover"
              loading="lazy"
          /></a>
        </figure>
      </div>
      <div class="col-md-7 offset-md-3 mt-4">
        <h2>
          <a href="" class="montserrat">Çalıkuşu - by Reşat Nuri Güntekin</a>
        </h2>
        <p class="montserrat">
          Everything is negotiable. Challenge authority. You have the power in
          any situation. This is how to realize it and use it. A must-read
          classic from 1980 from a master negotiator. My notes here aren’t
          enough because the little book is filled with so many memorable
          stories — examples of great day-to-day moments of negotiation that
          will stick in your head for when you need them. (I especially loved
          the one about the power of the prisoner in solitary confinement.) So
          go buy and read the book. I’m giving it a 10/10 rating even though the
          second half of the book loses steam, because the first half is so
          crucial.
        </p>
        <small
          >Date read: 2023-08-02. How strongly I recommend it:
          <strong>10</strong>/10</small
        >
        <p>
          <strong><a href="">Read my notes</a></strong>
        </p>
    </div>
  </div>









</div>
<%- include('partials/footer.ejs'); -%>
