<%- include('partials/header.ejs'); -%>

<div class="container">
  <h1 class="wittgenstein">Sefa Tuter</h1>
  <h2 id="h2title" class="wittgenstein">Books I've Read</h2>

  <h4>
    Tiny summary but detailed notes for each. Use the ISBN number to find it
    from your local library or anywhere else. This page will constantly update
    as I read more, so bookmark it if you want to check back in a few months.
  </h4>

  <h4>
    Sorted with my top recommendations up top. Sort by title, newest, or best.
  </h4>

  <h4>
    And please read this FAQ page about these notes, if you have any questions.
    You can also email me.
  </h4>

  <br />
  <hr />
</div>

<div class="container">
  <br />

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
    <div class="col-md-2 offset-md-3">
      <figure>
        <a href=""
          ><img
            src="https://covers.openlibrary.org/b/olid/<%= imgs[0] %>-M.jpg"
            width="125"
            height="187"
            alt="Book Cover"
            loading="lazy"
        /></a>
      </figure>
    </div>
    <div class="col-md-7 offset-md-3 mt-4">
      <h2>
        <a href="" class="montserrat" style="color: #58113d"
          >Çalıkuşu - by Reşat Nuri Güntekin</a
        >
      </h2>
      <p class="montserrat"><%= description[0] %></p>
      <small
        >Date read: 2019-08-02. How strongly I recommend it:
        <strong>10</strong>/10</small
      >
      <p>
        <strong><a href="">Read my notes</a></strong>
      </p>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
    <div class="col-md-2 offset-md-3">
      <figure>
        <a href=""
          ><img
            src="https://covers.openlibrary.org/b/olid/<%= imgs[1] %>-M.jpg"
            width="125"
            height="187"
            alt="Book Cover"
            loading="lazy"
        /></a>
      </figure>
    </div>
    <div class="col-md-7 offset-md-3 mt-4">
      <h2>
        <a href="" class="montserrat" style="color: #6d5a6d"
          >Acımak - by Reşat Nuri Güntekin</a
        >
      </h2>
      <p class="montserrat"><%= description[1] %></p>
      <small
        >Date read: 2023-08-02. How strongly I recommend it:
        <strong>8.5</strong>/10</small
      >
      <p>
        <strong><a href="">Read my notes</a></strong>
      </p>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
    <div class="col-md-2 offset-md-3">
      <figure>
        <a href=""
          ><img
            src="https://covers.openlibrary.org/b/olid/<%= imgs[2] %>-M.jpg"
            width="125"
            height="187"
            alt="Book Cover"
            loading="lazy"
        /></a>
      </figure>
    </div>
    <div class="col-md-7 offset-md-3 mt-4">
      <h2>
        <a href="" class="montserrat" style="color: #a3322c"
          >İnsan Ne İle Yaşar - by Lev N. Tolstoy</a
        >
      </h2>
      <p class="montserrat"><%= description[2] %></p>
      <small
        >Date read: 2023-08-02. How strongly I recommend it:
        <strong>9.5</strong>/10</small
      >
      <p>
        <strong><a href="">Read my notes</a></strong>
      </p>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
    <div class="col-md-2 offset-md-3">
      <figure>
        <a href=""
          ><img
            src="https://covers.openlibrary.org/b/olid/<%= imgs[3] %>-M.jpg"
            width="125"
            height="187"
            alt="Book Cover"
            loading="lazy"
        /></a>
      </figure>
    </div>
    <div class="col-md-7 offset-md-3 mt-4">
      <h2>
        <a href="" class="montserrat" style="color: #c5bf81"
          >Bir İdam Mahkumunun Son Günü - by Victor Hugo</a
        >
      </h2>
      <p class="montserrat"><%= description[3] %></p>
      <small
        >Date read: 2023-08-02. How strongly I recommend it:
        <strong>8</strong>/10</small
      >
      <p>
        <strong><a href="">Read my notes</a></strong>
      </p>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
    <div class="col-md-2 offset-md-3">
      <figure>
        <a href=""
          ><img
            src="https://covers.openlibrary.org/b/olid/<%= imgs[4] %>-M.jpg"
            width="125"
            height="187"
            alt="Book Cover"
            loading="lazy"
        /></a>
      </figure>
    </div>
    <div class="col-md-7 offset-md-3 mt-4">
      <h2>
        <a href="" class="montserrat" style="color: #ff5425"
          >Fahrenheit 451 - by Ray Bradbury</a
        >
      </h2>
      <p class="montserrat"><%= description[4] %></p>
      <small
        >Date read: 2023-08-02. How strongly I recommend it:
        <strong>8</strong>/10</small
      >
      <p>
        <strong><a href="">Read my notes</a></strong>
      </p>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
    <div class="col-md-2 offset-md-3">
      <figure>
        <a href=""
          ><img
            src="https://covers.openlibrary.org/b/olid/<%= imgs[5] %>-M.jpg"
            width="125"
            height="187"
            alt="Book Cover"
            loading="lazy"
        /></a>
      </figure>
    </div>
    <div class="col-md-7 offset-md-3 mt-4">
      <h2>
        <a href="" class="montserrat" style="color: #3f3f3f"
          >Olasılıksız - by Adam Fawer</a
        >
      </h2>
      <p class="montserrat"><%= description[5] %></p>
      <small
        >Date read: 2023-08-02. How strongly I recommend it:
        <strong>10</strong>/10</small
      >
      <p>
        <strong><a href="">Read my notes</a></strong>
      </p>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
    <div class="col-md-2 offset-md-3">
      <figure>
        <a href=""
          ><img
            src="https://covers.openlibrary.org/b/olid/<%= imgs[6] %>-M.jpg"
            width="125"
            height="187"
            alt="Book Cover"
            loading="lazy"
        /></a>
      </figure>
    </div>
    <div class="col-md-7 offset-md-3 mt-4">
      <h2>
        <a href="" class="montserrat" style="color: white"
          >Aklından Bir Sayı Tut - by John Verdon</a
        >
      </h2>
      <p class="montserrat"><%= description[6] %></p>
      <small
        >Date read: 2023-08-02. How strongly I recommend it:
        <strong>9</strong>/10</small
      >
      <p>
        <strong><a href="">Read my notes</a></strong>
      </p>
    </div>
  </div>

  <br />
  <hr />
  <br />
</div>
<%- include('partials/footer.ejs'); -%>
