<%- include('partials/header.ejs'); -%>

<div class="container">
  <h1 class="wittgenstein">Sefa Tuter</h1>
  <h2 id="h2title" class="wittgenstein">Books I've Read</h2>

  <h4>
    Tiny summary but detailed notes for each. Use the ISBN number to find it
    from your local library or anywhere else. This page will constantly update
    as I read more, so bookmark it if you want to check back in a few months.
  </h4>

  <h4>
    Sorted with my top recommendations up top. Sort by title, newest, or best.
  </h4>

  <h4>
    And please read this FAQ page about these notes, if you have any questions.
    You can also email me.
  </h4>

  <br />
  <hr />
</div>

<div class="container">
  <br />

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
    <div class="col-md-2 offset-md-3">
      <figure>
        <a href=""
          ><img
            src="https://covers.openlibrary.org/b/olid/<%= imgs[0] %>-M.jpg"
            width="125"
            height="187"
            alt="Book Cover"
            loading="lazy"
        /></a>
      </figure>
    </div>
    <div class="col-md-7 offset-md-3 mt-4">
      <h2>
        <a href="" class="montserrat" style="color: #58113d"
          >Çalıkuşu - by Reşat Nuri Güntekin</a
        >
      </h2>
      <p class="montserrat">
        Çalıkuşu by Reşat Nuri Güntekin is a beloved Turkish classic that
        transports readers to early 20th-century Anatolia. The novel follows the
        journey of Feride, a spirited and independent young woman, as she
        navigates societal expectations and personal hardships. After her
        engagement to her cousin Kamran is broken, she becomes a teacher and
        travels to remote villages, encountering various challenges and personal
        growth along the way. Güntekin's vivid portrayal of Turkish rural life
        and Feride's resilience makes this novel a poignant exploration of love,
        identity, and perseverance. A timeless read that resonates with readers
        even today.
      </p>
      <small
        >Date read: 2019-08-02. How strongly I recommend it:
        <strong>10</strong>/10</small
      >
      <p>
        <strong><a href="">Read my notes</a></strong>
      </p>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
    <div class="col-md-2 offset-md-3">
      <figure>
        <a href=""
          ><img
            src="https://covers.openlibrary.org/b/olid/<%= imgs[1] %>-M.jpg"
            width="125"
            height="187"
            alt="Book Cover"
            loading="lazy"
        /></a>
      </figure>
    </div>
    <div class="col-md-7 offset-md-3 mt-4">
      <h2>
        <a href="" class="montserrat" style="color: #6d5a6d"
          >Acımak - by Reşat Nuri Güntekin</a
        >
      </h2>
      <p class="montserrat">
        Acımak is a powerful exploration of empathy and human nature set in
        early 20th-century Turkey. The story centers on Zehra, a stern and
        emotionless schoolteacher, who discovers her late father's diary.
        Through his writings, she learns about his tragic life, filled with
        sacrifice and unreciprocated love, which reshapes her understanding of
        compassion and her own emotions. Güntekin masterfully intertwines themes
        of sorrow, misunderstanding, and redemption, making the novel a profound
        reflection on the complexities of human relationships. A deeply moving
        narrative that leaves a lasting impact.
      </p>
      <small
        >Date read: 2023-08-02. How strongly I recommend it:
        <strong>8.5</strong>/10</small
      >
      <p>
        <strong><a href="">Read my notes</a></strong>
      </p>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
    <div class="col-md-2 offset-md-3">
      <figure>
        <a href=""
          ><img
            src="https://covers.openlibrary.org/b/olid/<%= imgs[2] %>-M.jpg"
            width="125"
            height="187"
            alt="Book Cover"
            loading="lazy"
        /></a>
      </figure>
    </div>
    <div class="col-md-7 offset-md-3 mt-4">
      <h2>
        <a href="" class="montserrat" style="color: #a3322c"
          >İnsan Ne İle Yaşar - by Lev N. Tolstoy</a
        >
      </h2>
      <p class="montserrat">
        Lev N. Tolstoy's "What Man Lives For" is a story that deals with deep
        philosophical and moral questions about what human beings live for in
        life. In this story, Tolstoy argues that man lives by love, benevolence
        and faith in God. At the end of the story, the Angel who lives in
        Simon's house teaches him three important truths: that man cannot live
        without love, that the person who lives for himself is the one who
        suffers the most, and that people can survive only through love. These
        teachings reflect Tolstoy's thoughts on human nature and morality. Simon
        and his wife Matryona learn important lessons about humanity and love by
        accepting the helpless stranger (the Angel).
      </p>
      <small
        >Date read: 2023-08-02. How strongly I recommend it:
        <strong>9.5</strong>/10</small
      >
      <p>
        <strong><a href="">Read my notes</a></strong>
      </p>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
    <div class="col-md-2 offset-md-3">
      <figure>
        <a href=""
          ><img
            src="https://covers.openlibrary.org/b/olid/<%= imgs[3] %>-M.jpg"
            width="125"
            height="187"
            alt="Book Cover"
            loading="lazy"
        /></a>
      </figure>
    </div>
    <div class="col-md-7 offset-md-3 mt-4">
      <h2>
        <a href="" class="montserrat" style="color: #c5bf81"
          >Bir İdam Mahkumunun Son Günü - by Victor Hugo</a
        >
      </h2>
      <p class="montserrat">
        Bir İdam Mahkumunun Son Günü by Victor Hugo is a harrowing and deeply
        emotional narrative that offers a poignant glimpse into the final days
        of a man condemned to death. Through the diary entries of the unnamed
        prisoner, Hugo masterfully captures the despair, fear, and fleeting
        hopes of a man facing his inevitable fate. The novel is a powerful
        critique of the death penalty, highlighting the inhumanity and moral
        dilemmas associated with capital punishment. Hugo's empathetic portrayal
        of the condemned man’s inner turmoil and the profound reflections on
        life and justice make this a timeless and thought-provoking read.
      </p>
      <small
        >Date read: 2023-08-02. How strongly I recommend it:
        <strong>8</strong>/10</small
      >
      <p>
        <strong><a href="">Read my notes</a></strong>
      </p>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
    <div class="col-md-2 offset-md-3">
      <figure>
        <a href=""
          ><img
            src="https://covers.openlibrary.org/b/olid/<%= imgs[4] %>-M.jpg"
            width="125"
            height="187"
            alt="Book Cover"
            loading="lazy"
        /></a>
      </figure>
    </div>
    <div class="col-md-7 offset-md-3 mt-4">
      <h2>
        <a href="" class="montserrat" style="color: #ff5425"
          >Fahrenheit 451 - by Ray Bradbury</a
        >
      </h2>
      <p class="montserrat">
        Fahrenheit 451 by Ray Bradbury is a dystopian novel set in a future
        where books are banned, and firemen burn them. The story follows Guy
        Montag, a fireman who becomes disillusioned with his role in suppressing
        knowledge. Influenced by his free-spirited neighbor Clarisse and a
        series of unsettling events, Montag begins to question his society’s
        values and seeks enlightenment through literature. Along the way, he
        encounters characters like his wife Mildred, who is numbed by mindless
        entertainment, and Faber, a former professor who helps him in his quest.
        The novel explores themes of censorship, conformity, and the power of
        books.
      </p>
      <small
        >Date read: 2023-08-02. How strongly I recommend it:
        <strong>8</strong>/10</small
      >
      <p>
        <strong><a href="">Read my notes</a></strong>
      </p>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
    <div class="col-md-2 offset-md-3">
      <figure>
        <a href=""
          ><img
            src="https://covers.openlibrary.org/b/olid/<%= imgs[5] %>-M.jpg"
            width="125"
            height="187"
            alt="Book Cover"
            loading="lazy"
        /></a>
      </figure>
    </div>
    <div class="col-md-7 offset-md-3 mt-4">
      <h2>
        <a href="" class="montserrat" style="color: #3f3f3f"
          >Olasılıksız - by Adam Fawer</a
        >
      </h2>
      <p class="montserrat">
        Olasılıksız is a riveting thriller that delves into the world of
        probability and fate. The novel follows David Caine, a brilliant
        mathematician with a penchant for gambling and a debilitating epilepsy
        condition. After a severe seizure, Caine participates in a drug trial
        that enhances his cognitive abilities, allowing him to predict future
        events with remarkable accuracy. As he navigates this newfound power, he
        becomes entangled in a deadly game involving the mafia, the CIA, and a
        mysterious organization. Caine's journey is marked by intense action,
        complex characters, and thought-provoking questions about free will and
        determinism. The novel masterfully blends scientific concepts with a
        gripping narrative, keeping readers on the edge of their seats. Fawer’s
        ability to explain intricate mathematical theories in an accessible way
        adds depth to the story without detracting from its pace.
      </p>
      <small
        >Date read: 2023-08-02. How strongly I recommend it:
        <strong>10</strong>/10</small
      >
      <p>
        <strong><a href="">Read my notes</a></strong>
      </p>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <div
    class="abook"
    data-rating="10"
    data-title="You Can Negotiate Anything - by Herb Cohen"
    data-date="2023-08-02"
  >
    <div class="col-md-2 offset-md-3">
      <figure>
        <a href=""
          ><img
            src="https://covers.openlibrary.org/b/olid/<%= imgs[6] %>-M.jpg"
            width="125"
            height="187"
            alt="Book Cover"
            loading="lazy"
        /></a>
      </figure>
    </div>
    <div class="col-md-7 offset-md-3 mt-4">
      <h2>
        <a href="" class="montserrat" style="color: white"
          >Aklından Bir Sayı Tut - by John Verdon</a
        >
      </h2>
      <p class="montserrat">
        Akılından Bir Sayı Tut is a gripping psychological
        thriller that will keep you guessing until the very end. The story
        centers around retired NYPD detective Dave Gurney, who is drawn back
        into the world of crime-solving when he receives a request from an old
        acquaintance. The acquaintance, Mark Mellery, has been receiving
        threatening letters from someone who appears to know his every move and
        even his thoughts, including guessing a number he was thinking of. As
        Gurney delves deeper into the case, he discovers a series of murders
        connected by the same chilling modus operandi. The investigation takes
        him through a labyrinth of clues, red herrings, and psychological
        manipulation. Verdon masterfully weaves a tale of suspense, with
        intricate plot twists and complex characters that challenge Gurney's
        skills and resilience.
      </p>
      <small
        >Date read: 2023-08-02. How strongly I recommend it:
        <strong>9</strong>/10</small
      >
      <p>
        <strong><a href="">Read my notes</a></strong>
      </p>
    </div>
  </div>

  <br />
  <hr />
  <br />
</div>
<%- include('partials/footer.ejs'); -%>
